{% extends "unfold/helpers/header.html" %}
{% load i18n unfold %}


{% block usertools  %}
{{ block.super }}
            {% url "admin:index" as dashboard_link %}
            {% url "users:logout" as logout_link %}
            {% trans "صفحه اصلی" as home_title %}
            {% trans "خروج" as logout_title %}
        
            {% component "unfold/components/button.html" with href=dashboard_link variant="danger" size="b" %}
                {{ home_title }}
            {% endcomponent %}

            {% component "unfold/components/button.html" with variant="danger" size="b" submit=True form="logout-form" %}
                {{ logout_title }}
            {% endcomponent %}
      
{% endblock %}
