{% extends "base.html" %}

{% block content %}

<style>

.card{
    width:450px;
    margin:40px auto;
    padding:25px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

.card h2{
    text-align:center;
}

.card button{
    width:100%;
    padding:12px;
    margin-top:20px;
}

</style>

<div class="card">

    <h2>Change Password</h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Change Password
        </button>

    </form>

</div>

{% endblock %}